<visicutPreferences>
  <disableSandbox>false</disableSandbox>
  <useFilenamesForJobs>false</useFilenamesForJobs>
  <enableQRCodes>false</enableQRCodes>
  <fastQRCodes>false</fastQRCodes>
  <fabqrActive>false</fabqrActive>
  <fabqrPrivateURL></fabqrPrivateURL>
  <fabqrPublicURL></fabqrPublicURL>
  <fabqrPrivateUser></fabqrPrivateUser>
  <fabqrPrivatePassword></fabqrPrivatePassword>
  <windowBounds>
    <x>0</x>
    <y>0</y>
    <width>1228</width>
    <height>873</height>
  </windowBounds>
  <useThicknessAsFocusOffset>false</useThicknessAsFocusOffset>
  <recentFiles>
    <string>.visicut/examples/FaLaFue/logo-cut.svg</string>
    <string>.visicut/examples/startest.svg</string>
    <string>.visicut/examples/Basic/rectangle-20mm-green.svg</string>
  </recentFiles>
  <lastMaterial>Sperrholz Pappel</lastMaterial>
  <lastLaserDevice>Thunderlaser-Nova35-falafue</lastLaserDevice>
  <availableImporters/>
  <editSettingsBeforeExecuting>false</editSettingsBeforeExecuting>
  <fabLabLocationFacebookId></fabLabLocationFacebookId>
  <laserCutterTags>lasercutter, lasercut, laser cutter, laser cut</laserCutterTags>
  <supportedExtensions>svg, plf, dxf, eps, gcode</supportedExtensions>
</visicutPreferences>
